.image_container {
    position: relative;
    width: 100%;
    height: 45rem;

  }
  .image_container img{
    position: relative !important;
  }
  @media screen and (max-width: 600px) {
    .image_container {
      height: 34rem;
    }
    
  }
  @media screen and (max-width: 1350px) {
    .flex_container {
      flex-direction: row;
    }
  }