.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .invisible {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }

  @media screen and (max-width: 640px) {
    .visible {
      visibility: visible;
      opacity: 0;
    }
  
    .invisible {
      visibility: hidden;
      opacity: 0;
    }
    
  }